/* 
    Created by: Anass Laaribi
    GitHub: anass-dev-ops
*/

/* ========== Start General CSS ========= */
body {
    font-family: 'Ubuntu', sans-serif;
}
:root {
    --color1: rgb(43, 43, 43);
    --color2: rgb(230, 230, 230);
}
/* ========== End General CSS ========= */
/* ========== Start Home ========== */
.home {
    height: 100vh;
    position: relative;
}
.home .nav-part {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
.home .nav-part .navbar-brand{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}
.home .nav-part .navbar-nav .nav-link {
    font-size: 1.3rem;
    padding: 0 20px 0;
}
.home .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../assets/img/bg-masthead.jpg);
}
.home .header-box {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #000000bf;
}
.home .header-box .flex-box1 {
    height: 100%;
}
.home .header-box .flex-box1 h1 {
    font-size: 3.2rem;
    max-width: 700px;
}
.home .header-box .flex-box1 p {
    max-width: 700px;
    font-size: 1.2rem;
    margin: 20px 0;
}
.home .header-box .flex-box1 button {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 12px 60px;
    border-radius: 25px;
    margin-top: 10px;
}
.home .header-box .flex-box1 button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 2px solid #fff;
}

/* ===== Start started ===== */
.started {
    background-color: var(--color2);
    color: var(--color1);
    padding: 80px;
}
.started h3 {
    font-size: 2rem;
    margin: 0 0 20px;
}
.started button {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color1);
    border: 2px solid var(--color1);
    padding: 8px 40px;
    border-radius: 25px;
    margin-top: 10px;
}
.started button:hover {
    background-color: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color2);
}
/* ===== End started ===== */
/* ===== Start services ===== */
.services {
    padding: 80px 0
}
.services h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.services i{
    font-size: 4rem;
    color: var(--color1);
    margin-bottom: 10px;
}
.services h4{
    font-size: 1.6rem;
}
.services p{
    font-size: 1.08rem;
}
/* ===== End services ===== */
/* ===== Start projects ===== */
.projects .row {
    padding: 0;
    margin: 0;
}
.projects .row div {
    background-size: cover;
    height: 200px;
}
.projects .row div:first-child {
    background-image: url(../assets/img/portfolio/thumbnails/1.jpg);
}
.projects .row div:nth-child(2) {
    background-image: url(../assets/img/portfolio/thumbnails/2.jpg);
}
.projects .row div:nth-child(3) {
    background-image: url(../assets/img/portfolio/thumbnails/3.jpg);
}
.projects .row div:nth-child(4) {
    background-image: url(../assets/img/portfolio/thumbnails/4.jpg);
}
.projects .row div:nth-child(5) {
    background-image: url(../assets/img/portfolio/thumbnails/5.jpg);
}
.projects .row div:nth-child(6) {
    background-image: url(../assets/img/portfolio/thumbnails/6.jpg);
}
/* ===== End projects ===== */
/* ===== Start Download ===== */
.download {
    padding: 80px 0;
    background-color: var(--color1);
    color: var(--color2);
}
.download h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.download button {
    background-color: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color2);
    padding: 8px 40px;
    border-radius: 25px;
}
.download button:hover {
    background-color: var(--color2);
    color: var(--color1);
    border: 2px solid var(--color1);
}
/* ===== End Download ===== */
/* ===== Start Contact ===== */
.contact {
    padding: 80px 0 0;
}
.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.contact p {
    font-size: 1.08rem;
}
.contact button {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color1);
    border: 2px solid var(--color1);
    padding: 8px 40px;
    border-radius: 25px;
    margin-top: 10px;
}
.contact button:hover {
    background-color: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color2);
}
.contact .sec-phone {
    padding: 50px 0;
}
.contact .sec-phone i {
    font-size: 4.5rem;
}
.contact .sec-phone h6 {
    font-size: 1.3rem;
    margin-top: 5px;
}
/* ===== End Contact ===== */
/* ===== Start Footer ===== */
.footer {
    padding: 15px 0;
    background-color: var(--color1);
    color: var(--color2);
}
.footer p {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}
/* ===== End Footer ===== */